

* {
	box-sizing: border-box;
}


body {
	display: -webkit-box;
	 display: -moz-box;
 	display: -webkit-flex;
	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
	flex-direction: column;
	background-image: url(rikki-austin-cathedralhallway2.jpg);
  	background-size: 90%;
  	background-position: center;
  	background-repeat: no-repeat;
  	height: 100vh;
  	align-items: center;
	font-family: 'Oswald', sans-serif;
  	font-size: 28px;
  	background-color: black;

}

header {
	color: white;
	display: -webkit-box;
	display: -moz-box;
 	display: -webkit-flex;
	display: -ms-flexbox;
 	display: flex;
}

.score-question-counter {
	display: none;
	align-content: flex-end;
}

main {
 	display: -webkit-box;
 	display: -moz-box;
  	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
	flex-direction: column;
	width: 90%;
	padding: 2em 3em;
	align-self: center;
}

h1, h2 {
	font-family: 'Fontdiner Swanky', cursive;
}

.quizStart {
	background-color: wheat;
	text-align: center;
	padding: 2em 3em;
}

#questionForm {
	display: -webkit-box;
	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	margin: 1em 1em;
	text-align: center;
	background-color: wheat;
  	flex-direction: column;
}

.question-10{
	background-color: wheat;
  	display: -webkit-box;
	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
	padding: 1em;
	margin: 1em 1em;
}

.answerOption {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	text-align: justify;
	padding: 10px;
}


fieldset {
	display: -webkit-box;
	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	flex-direction: column;
	border: none;
}

.resultsButton, .submit, .startButton {
	font-family: 'Fontdiner Swanky', cursive;
	padding: 10px 24px;
	justify-content: center;
	font-size: 18px;
	border-radius: 2px;
	border: black solid 1px;
	width: 75%;
	margin: 1em;
	background-color: dimgray;
	color: wheat;
	text-shadow: 2px 2px black;
}

#myform {
	display: -webkit-box;
	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	flex-direction: column;
}

#patronus {
	font-size: 18px;
	width: 75%;
	height: 30px;
	font-family: 'Oswald', sans-serif;
	align-self: flex-end;
}

.resultsButton, .submit {
	margin-left: 3.5em;
}

.checkAnswer{
	width: 20px;
	height: 20px;
	border: 3px black;
	margin-top: 1em;
}


